div{
    font-size: 18px;
    font-family: tahoma;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #d5d5d5;
    margin: 25px;
}
h3{
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 35px;
}

img{
    width: 190px;
}
p{
  font-size: 16px;
  text-align: center;
}
span{
    font-weight: bold;
}
a{
  text-decoration: none;
  color: white;
  background-color: rgb(79, 163, 79);
  padding: 7px;
  border-radius: 20px;
  
}